@import '../../style.scss';


.playerTable{
    padding: 13px 20px;
    color: $text-normal;
    height: 590px;
    overflow-y: scroll;
    position: relative;
    

    table{
        width: 100%;
        font-size: 12px;
        text-align: left;

        thead{
            th{
                font-weight: 400;
                width: 118px;

                &:nth-child(1) {
                    width: 200px;
                }
            }
        }

        tbody{
            td{
                font-size: 14px;
                padding-top: 20px;

                .hasFlag{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    
                    img{
                        width: 24px;
                        height: 24px;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 1px solid $text-normal;
                    }
                }

                .ellipsis{
                    padding: 10px 0px;
                    img{
                        display: flex;
                        cursor: pointer;
                    }
                }
            }
            

            
        }

    }

    .importOption{
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;

        button{
            width: max-content;
            background-color: inherit;
            border: none;
            color: $primary-orange;
            cursor: pointer;
            font-size: 14px;
        }
    }
}

.playerTable::-webkit-scrollbar{
    display: none;
}